html {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

.header {
    color: black;
    size: 25rem;
    font-family: fantasy;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatt {
    display: flex;
    align-items: center;
    justify-content: right;
    z-index: 1;
}
.chat {
    margin: 0;
    padding: 0;
    z-index: 0;
    height: 800;
}

.twitch-embed {
    height: 80%;
}